/*

!conf.d/
conf.d/*
!conf.d/abbreviations.fish
!conf.d/aliases.fish
!conf.d/syntax_colors.fish

!functions/
functions/*
!functions/backup.fish
!functions/git_create_annotated_tag.fish
!functions/load_nvm.fish
!functions/nvm_find_nvmrc.fish
!functions/nvm.fish
!functions/shell_fedora.fish
!functions/shell_ubuntu.fish

!config.fish
!fish_plugins
!.gitignore
!README.md
